<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Id="TODO_Manufacturer.Systems_One_MQTT_Service_Installer" Name="Systems-One-MQTT-Service-Installer" Manufacturer="TODO Manufacturer" Version="1.0.0.0">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="ExampleComponents" />
    </Feature>
  </Package>
</Wix>
